<nav class="flex align-center" style="height: 10%">
    <div class="w-3/12 h-100 border border-gray-800 pl-20 flex items-center">
        <a :href="uri">Nrd.</a>
    </div>
    <div class="w-9/12 h-100 flex border border-gray-800 items-center">
        <div class="ml-auto border border-gray-800 mr-3 rounded">
            <button @click="window.location.href = uri + '/profile'" class="w-full px-4 py-1">Lana S.A.</button>
        </div>
    </div>
</nav>