<div class="w-3/12 flex border border-gray-800 h-100">
    <div class="pl-20 pt-16">
        <ul>
            <li class="mb-4">
                <button type="button" @click="window.location.href = uri + '/'" class="btn w-full border-1 border-white text-left">Home</button>
            </li>
            <li class="mb-4">
                <button type="button" @click="window.location.href = uri + '/explore'" class="btn w-full border-1 border-white text-left">Explore</button>
            </li>
            <li class="mb-4">
                <button type="button" @click="window.location.href = uri + '/messages'" class="btn w-full border-1 border-white text-left">Direct Message</button>
            </li>
            <li class="mb-4">
                <button type="button" @click="window.location.href = uri + '/groups'" class="btn w-full border-1 border-white text-left">Groups</button>
            </li>
            <li class="mb-4">
                <button type="button" @click="window.location.href = uri + '/achievement'" class="btn w-full border-1 border-white text-left">Achievement</button>
            </li>
        </ul>
    </div>
</div>