<%- include('layouts/head') %> 
<body class="bg-black text-white w-100 h-screen" x-data="{ uri: 'http://localhost:3000' }">
    <%- include('layouts/navbar') %> 
    <div class="flex" style="height: 90%">
        <%- include('layouts/sidebar') %> 
    </div>
</body>